
* {
  box-sizing: border-box;
}

body{
background: rgb(252,231,231);
background: radial-gradient(circle, rgba(252,231,231,1) 0%, rgba(255,255,255,1) 0%);
font-family: "Courier New", Courier, monospace;
font-size: 29px;
letter-spacing: -2.6px;
word-spacing: -3.6px;
font-weight: bold;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
h1{
  color:grey;
}
/* Style the header */
.header {
 background: rgb(252,231,231);
background: linear-gradient(90deg, rgba(252,231,231,1) 0%, rgba(99,163,195,0.458420868347339) 0%);
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin: auto 10px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 20px;
  border-radius: 10px;
}

/* Style the "Add" button */
#addTaskBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border-radius: 10px;
 
}

#addTaskBtn:hover {
  background-color: grey;
}
ul{
  list-style-type:none;
}
li{
  margin-top: 10px;
  padding: 5px;
  width: 95%;
  float: left;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  background: rgb(252,231,231);
  background: linear-gradient(90deg, rgba(252,231,231,1) 0%, rgba(126,129,127,0.458420868347339) 0%);
  color:black;
  border-radius: 15px;
  font-weight: large;
 
}

.deleteBtn:hover {
  background-color: #f44336;
  color: white;
}

.deleteBtn{
  position: relative;
  right: 0;
  top: 0;
  padding: 10px 10px 10px 10px;
  width: 5%;
  float: right;
  cursor: pointer;
  margin: auto 5px;
  border-radius: 15px;

}
.completeBtn{
    position:relative;
  right: 0;
  top: 0;
  padding: 10px 10px 10px 10px;
  width: 5%;
  float: right;
  cursor: pointer;
  margin: auto 5px;
  border-radius: 50px;
  
}
 .completeBtn:hover{
  background-color: chartreuse;
  color: white;
}
.done{
  text-decoration:line-through;
  text-decoration-color:black;
  background: rgb(252,231,231);
background: linear-gradient(90deg, rgba(252,231,231,1) 0%, rgba(138,236,171,0.458420868347339) 0%);
}
.checkedOff{
  color:green;
}







